body{
    background-color: whitesmoke;
}
main{
    margin-left: 10%;
    margin-right: 10%;
}

.leftdiv{
  color: #fcedd8;
   background: rgb(134, 96, 86);
   line-height: 1.6;
    width: 47%;
    /* height: 30em; */
    display: inline;
    border: 2px solid gray;
    float: left;
    margin-top: 2%;
    text-align: justify;
    padding: 20px;
    border-radius: 20%;

}

.rightdiv{
  color: #fcedd8;
    background: rgb(134, 96, 86);
    line-height: 1.6;
    width: 47%;
    /* height: 30em; */
    display: inline-block;
    border: 2px solid gray;
    margin-left: 5%;
    margin-top: 2%;
    text-align: justify;
    padding: 20px;
    border-radius: 20%;
}
.leftdiv h2 {
  text-align: center;
}
.rightdiv h2{
  text-align: center;
}

.Qoutes {
  background: url('https://png.pngtree.com/thumb_back/fw800/background/20201023/pngtree-beige-color-wall-tropical-leaves-shadows-background-image_433079.jpg') no-repeat center center/cover;
  border: 1px solid gray;
  margin-top: 3%;
  height: 250px;
}

.cards {
    border: 1px solid gray;
    margin-top: 3%;
    /* height: 250px; */
    height: 468px;
    background: rgb(134, 96, 86);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 19%;
    position: relative;
    left: 2%;
    display: inline-block;
  }
  .card:hover {
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.8);
  }
  .container {
    padding: 2px 16px;
    background: #fcedd8;
    color:  rgb(134, 96, 86);
  }
  .container h4{
    font-size: 20px;
    
  }

  .cards h3 {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #fcedd8;
  }

  /* Qoutes */

  #Qoutes {
    height: 100%;
    margin-top: 3%;
    background: url('https://png.pngtree.com/thumb_back/fw800/background/20201023/pngtree-beige-color-wall-tropical-leaves-shadows-background-image_433079.jpg') no-repeat center center/cover;
    padding-top: 100px;
  }
  #Qoutes h2 {
    /* color: rgb(134, 96, 86); */
    text-align: center;
    padding-bottom: 40px;
    font-weight: bolder;
  }
  #Qoutes .testimonial {
    padding: 20px;
    margin-bottom: 0px;
    border-radius: 5px;
    opacity: 0.9;
  }
  #Qoutes .testimonial img {
    width: 100px;
    /* float: left; */
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .Qoutescontainer {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
  } 
  .testimonial {
    position: relative;
  }
  .testimonial p {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    font-weight: bolder;

  }